extends layout

block content
  .row
    .travellers.col-xs-12.col-sm-8.col-md-8.col-lg-8
        .header
            h2 Travellers
            a.add-traveller(href="/travellers/new")
                span.glyphicon.glyphicon-plus

        table.table.travellers
          thead
            tr
              th Name
              th Position
              th Passport Nr
              th Allergies
              th.actions Actions
          each user,id in users
            tr
              td= user.name
              td
                a(href='https://www.google.com/maps/?z=5&q=loc:' + user.latitude + ',' + user.longitude, target='_blank')
                  span= user.latitude ? user.latitude + ', ' + user.longitude : ''
              td= user.passport
              td= user.allergies
              td.actions
                  a(href='#' class="btn btn-default") Edit

    .sidebar.col-xs-12.col-sm-4.col-md-4.col-lg-4
        h2 Log
        form(action="travellers/newLogMessage" method="post")
          .form-group
            ul.log
              each logMessage in logMessages
                if !logMessage.name
                  li.message.system
                    span.content= logMessage.message
                else
                  li.message
                    h3.name= logMessage.name
                    span.content= logMessage.message
            .add-log-message
              div.form-group
                input(type="text" name="name" class="form-control" id="inputName" placeholder="Ditt namn" value!= currentUser)
              div.form-group
                input(type="text" name="message" class="form-control" id="inputMessage" placeholder="Skriv någonting!")
              p
                button.btn.btn-block(type="submit" class="btn btn-primary") Skicka
